<% layout('layouts/boilerplate') -%>
<div class="bg-secondary bg-gradient row my-auto">
    <div class="col-6 offset-3">
        <h1 class="text-center">Something went wrong :( <%= statusCode %> </h1>
    </div>
</div>
