<% layout('layouts/boilerplate') -%>
    <h1>Camp grounds</h1>
    <div>
        <a href="campground/new">Add new Camp Ground</a>
    </div>
    <%for(let data of datas){%>
        <ul>
             <a href="/campground/<%= data._id %> "><li><%= data.title %></a> </li>
        </ul>
    <%}%>
