<% layout('layouts/boilerplate') -%>
    <h1><%=datas.title%></h1>
    <ul>
      <li><%=datas.location%></li>
    </ul>
    <footer>
      <form action="<%=datas._id%>%>?_method=DELETE" method="post">
      <button type="submit">DELETE</button></form>
      <a href="/campground/<%=datas._id%>/edit">Edit</a>
      <a href="/campground">Back</a>
    </footer>

